/* General Styles */
body {
    margin: 0px;
}

/* Nav Styles */
nav {
    background-color: #a3cef6;
    color: white;
    display: flex;
    justify-content: space-between;
    border: double 0px black;
}

nav p, nav a {
    margin: 10px 20px;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {}

/* Footer Styles */
footer {
    background-color: #808080;
    color: white;
    display: flex;
    justify-content: center;
    border: double 0px #000000;
    padding: 5px;
}

footer a {
    color: #a3cef6;
}

footer a:hover {}

/* Splash Section */
.splash {
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    text-align: center;
}

.splash h1 {
    font-family: monospace;
    color: #a3cef6;
    font-size: 35px;
}

.splash img {
    border: double 5px;
    box-shadow: 0 4px 8px 0 #707070;
}

}

.splash p {
    font-family: 'Roboto Mono', monospace;
}

/* Horizontal Rules */
hr {
    border-width: 10px;
    border: groove;
}

/* Sections */
section {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    border: dashed 1px;
    margin: 10px;
}

/* Section Headings */
section h2 {
    color: #a3cef6;
    justify-self: center;
    font-size: 20px;
}

/* Paragraph Styles */
section p {
    justify-self: center;
}

/* link styles */
section a {
    text-decoration: none;
    color: #a3cef6;
}

section a:hover {
    font-style: oblique;
}

/* List Styles */
ul {
    list-style: inside;
    justify-self: center;
}

dl {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(2,1fr);
}
dl dt{
    display: grid;
}
dl dd{
    display: grid;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border: dashed 2px black;
    background-color: #a3cef6;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 4px 8px 0 #707070;
    justify-self: center;
}

.card img {
    display: flex;
    justify-self: center;
}

.card h3 {
    justify-self: center;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    font-family: 'Roboto Mono', monospace;
}

form input, form textarea {}

form input:focus, form textarea:focus {}

form button {
    font-family: 'Roboto Mono', monospace;
}

form button:hover {}

.contact {
    text-align: center;
}